.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.each-slide-effect {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

/* Style pour la scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Largeur de la scrollbar */
}

::-webkit-scrollbar-track {
  background: #1a1a2e; /* Couleur de fond */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #6a11cb, #2575fc); /* Dégradé futuriste */
  border-radius: 10px; /* Coins arrondis */
  border: 3px solid #1a1a2e; /* Espacement avec la bordure */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #2575fc, #6a11cb); /* Couleur change au survol */
}
